.alert{
    border: solid 1px var(--sk-br);
    background-color: var(--sk-in);
    box-shadow: 1px 2px 3px #00000054;
    min-width: 380px;
    padding: 12px 16px;
    bottom: 20px;
    right: 30px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}
.alert label > span{
    border: none;
    height: 20px;
    width: 20px;
}
.alert label > span > svg{
    height: 100%;
    width: 100%;
}
.alert > span{
    border: none;
    height: 30px;
    width: 30px;
}

.alert span svg{
    height: 80%;
    width: 80%;
}

.alert-active{
    opacity: 1;
    pointer-events: visible;
}