.err-title{
    color: var(--font-normal);
    font-weight: 600;
}

.err-btn{
    background-color: var(--primary);
    padding: 0.8rem 2.5rem;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
}