.lan-main{
    height: calc(100% - 70px);
    margin: auto;
    margin-top: 150px;
}
.lan-left{
    width: 700px;
}

.lan-left h1{
    color: #202629;
    font-size: 70px;
    font-family: Inter-Basic;
    font-weight: 700;
    display: inline;
}

.lan-left > h1 > span{
    color: var(--primary);
}

.lan-left > div > span{
    padding: 14px 32px;
    font-size: 16px;
    font-family: Inter-Basic;
    cursor: pointer;
    user-select: none;
}

.lan-right {
    height: 360px;
    width: 450px;
}
.lan-right img{
    height: 84%;
    margin-bottom: 50px;
}

.lan-sec{
    margin-top: 230px;
}

.lan-sec-title{
    width: 670px;
    text-align: center;
}

.l-c-card{
    border-radius: 8px;
    align-items: center;
    width: 300px;
    padding: 20px;
}
.l-c-card span{
    background-color: var(--sk-in);
    border: solid 1px var(--sk-br);
    border: solid 1px var();
    height: 70px;
    width: 70px;
}
.l-c-card p{
    text-align: center;
    font-size: 16px ;
}

.lan-third{
    margin-top: 140px;
    gap: 160px;
}