:root {
    /*DarkMode BTN*/
    --DMbtn: #2b2b2b;

    /*Scale Gris*/
    --header-color: #f3f3f3;
    --bg-color: #f8f8f8;
    --bg1-color: #8ec0fa;
    --bg2: #BC111D;
    --bg3: #1D9BF0;
    --bg4: #83CE47;
    --bg5: #E9BE50;

    --bg-low: #E7E7E7;

    --bg-m1: #CFB010;
    --bg-m2: #7E898B;
    --bg-m3: #A8862F;
    --bg-m4: #C5660F;

    /*Border*/
    --br-sk-out: #aaaaaa;
    --br-high: #5c5c5c;
    --br-normal: #a3a3a3;
    --br-low: #D3D3D3;

    /*Skeleton*/
    --sk-in: #F4F4F4;
    --sk-br: #9D9D9D;

    /*Font*/
    --font-h1: #000;
    --font-high: #171717;
    --font-normal: #696F79;
    --font-low: #8692A6;
    --font-white: #ffffff;
    --font-link: #2C73EB;
    --font-error: #ff3d3d;
}

.DarkMode {
    /*DarkMode BTN*/
    --DMbtn: #2C73EB;

    --header-color: #1f2022;
    --bg-color: #181819;

    /*Border*/
    --border-1: #3b434c;
    --border-2: #919597;
}


.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    top: 0;
}

.pointer {
    cursor: pointer;
    user-select: none;
}

.no-select {
    user-select: none;
    pointer-events: none;
}

.txt-stl-non {
    text-decoration: none !important;
    list-style: none !important;
}

.r-90 {
    transform: rotate(90deg);
}

/*Display*/
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center{
    justify-content: center;
    align-items: center;
}
.d-flex{
    display: flex;
}

.f-align-center{
    align-items: center;
}
.f-justify-center{
    justify-content: center;
}

/**Box shadow**/
.bx-sd-low {
    box-shadow: 1px 1px 2px #5757572e;
}


/*Border*/
.br-max {
    border-radius: 150px;
}

.br-50 {
    border-radius: 50%;
}

.br-10p {
    border-radius: 10px;
}

.br-8p {
    border-radius: 8px;
}

.br-6p {
    border-radius: 6px;
}

.br-none {
    border: none !important;
    outline: none !important;
    border-radius: 0px !important;
}


/*margin*/
.mt-5p {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.my-35{
    margin-block: 35px;
}
.my-25{
    margin-block: 25px;
}
.my-15{
    margin-block: 15px;
}

.m-auto{
    margin: auto;
}

/*Padding*/
.px-40 {
    padding-inline: 40px;
}

/*Buttons*/
.f-btn-blue {
    background-color: var(--font-link);
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    color: var(--font-white);
    cursor: pointer;
    user-select: none;
}

/*Pastillas*/
.pastilla {
    border-radius: 150px;
    padding: 4px 12px;
    font-size: 12px;
    width: max-content;
    margin-top: 7px;
    color: var(--bg-color);
    font-weight: 600;
}

/*gap*/
.g-5p {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.g-15 {
    gap: 15px;
}

.g-20 {
    gap: 20px;
}

.g-25 {
    gap: 25px;
}

.g-30 {
    gap: 30px;
}

.g-35 {
    gap: 35px;
}

.g-40 {
    gap: 40px;
}

.g-45 {
    gap: 45px;
}

.g-50 {
    gap: 50px;
}

.g-55 {
    gap: 55px;
}

.g-60 {
    gap: 60px;
}

.g-65 {
    gap: 65px;
}

.g-70 {
    gap: 70px;
}

.g-75 {
    gap: 75px;
}

.g-80 {
    gap: 80px;
}

.g-85 {
    gap: 85px;
}

.g-90 {
    gap: 90px;
}

/*Width*/
.w-120 {
    width: 120%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-65 {
    width: 65%;
}

.w-60 {
    width: 60%;
}

.w-55 {
    width: 55%;
}

.w-50 {
    width: 50%;
}

.w-45 {
    width: 45%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}


/*Messages*/
.msg-yellow {
    border-radius: 6px;
    background-color: #FFEEC2;
    padding: 18px 22px;
}

/*H2 Titles*/
.h2-title {
    font-size: 30px;
    margin-block: 20px;
    font-weight: 500;
}

/*Font size*/
.fnt-s10 {
    font-size: 10px !important;
}

.fnt-s11 {
    font-size: 11px !important;
}

.fnt-s12 {
    font-size: 12px !important;
}

.fnt-s13 {
    font-size: 13px !important;
}

.fnt-s14 {
    font-size: 14px !important;
}

.fnt-s15 {
    font-size: 15px !important;
}

.fnt-s16 {
    font-size: 16px !important;
}

.fnt-s17 {
    font-size: 17px !important;
}

.fnt-s18 {
    font-size: 18px !important;
}

.fnt-s19 {
    font-size: 19px !important;
}

.fnt-s20 {
    font-size: 20px !important;
}

/*font Styles*/
.bold {
    font-weight: bold;
}

/*Font Color*/
.fnt-link {
    cursor: pointer;
    color: var(--font-link) !important;
    text-decoration: underline;
}

.fnt-Title {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-high) !important;
}

.fnt-normal {
    font-size: 16px;
    color: var(--font-normal) !important;
}

.fnt-low {
    font-size: 13px;
    color: var(--font-low);
}

.fnt-white {
    color: var(--font-white) !important;
    text-decoration: none;
}

.no-line {
    text-decoration: none !important;
}

/*Background Colors*/
.bg-1st {
    background-color: var(--bg-m1);
}

.bg-2nd {
    background-color: var(--bg-m2);
}

.bg-3rd {
    background-color: var(--bg-m3);
}

.bg-4th {
    background-color: var(--bg-m4);
}