@font-face {
    font-family: Rubik;
    src: url('./Fonts/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: Inter-Basic;
    src: url('./Fonts/Inter-VariableFont_slnt\,wght.ttf');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {

    --bg: #EEEFF3;
    --font: #000;
    --font-i: #FFF;
    --bg-sec: #E0E0E0;
    --primary: #EA0629;
    --accent: #F7B91D;
    --font-link: #077DBF;


}


body {
    font-family: 'AR One Sans';
    font-weight: 400;
}

#root {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-primary{
    background-color: var(--primary);
    border-radius: 6px;
    color: #FFF;
    height: max-content;    
}