.grfc-btn{
    background-color: var(--primary);
    border-radius: 6px;
    color: var(--font-i);
    font-size: 16px;
    font-weight: 600;
    padding: 14px 45px;
}
.grfc-ctrl{
    background-color: #FFF;
    height: 740px;
    width: 1360px;
}

.grfc-center{
    height: 380px;
    width: 90%;
}

.gra-left{
    border-block: solid 2px var(--br-normal);
    border-right: solid 2px var(--br-normal);
    border-radius: 0px 6px 6px 0px;
    background-color: #FFF;
    height: 100%;
    width: 76%;
}
.gra-right{
    background-color: var(--br-normal);
    height: 2px;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.gr-match{
    border: solid 2px var(--br-normal);
    background-color: #FFF;
    border-radius: 6px;
    height: 80px;
    overflow: hidden;
    transform: translateY(-50%);
}
.gr-mt-t{
    border-top: solid 2px var(--br-normal);
    height: 42px !important;
}
.gr-match div {
    height: 37px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.gr-match div > span {
    border-left: solid 2px var(--br-normal);
    background-color: var(--bg-sec);
    height: 40px;
    width: 40px;
    font-family: Rubik;
    font-weight: 600;
}
.gr-match div > p {
    min-width: 120px;
    padding-inline: 30px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: var(--font-link);
    text-decoration: underline;
    text-underline-offset: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gr-detail{
    border: solid 2px var(--br-normal);
    background-color: #FFF;
    border-radius: 50%;
    height: 24px;
    width: 24px;

    z-index: 10;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
}

.gra-b{
    border: solid 2px var(--br-normal);
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    background-color: #FFF;
    height: 190px;
    width: 610px;
    transform: translateY(-50%);
}
.gra-c{
    border: solid 2px var(--br-normal);
    border-radius: 0px 6px 6px 0px; 
    border-left: none;
    background-color: #FFF;
    height: 94px;
    width: 262px;
    transform: translateY(-50%);
}

.gr-top{
    top: 0px;
}

.gr-bot{
    top: calc(100% + 1px);
}